.nav {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--text-important-color);
}

.nav h1 {
    align-items: center;
    display: flex;
    margin-right: 2rem;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    gap: 3rem;
    flex: 1;
}

.nav-premier {
    display: flex;
    gap: 1rem;
}

.nav-second {
    display: flex;
    gap: 1rem;
}

#securite {
    font-size: medium;
    text-align: left;
}


